@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin fluid-text($min, $max) {
  font-size: clamp(#{$min}px, calc(($max / 1440) * 100vw), #{$max}px);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
